# Create a '.env' file with the following populated contents:

# Replace with your local database URI
# DATABASE_URI='mariadb+mariadbconnector://root:<password>@127.0.0.1/barkbase_local'
DB_DRIVER=mysql+pymysql # DEFAULT: `mariadb+mariadbconnector`
DB_USER=root
DB_PASS=password
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=barkbase_local

# Populate with a random 32-character string
JWT_SECRET_KEY=''