# Create a '.env' file with the following populated contents:

# Replace with your local database URI
DATABASE_URI='mariadb+mariadbconnector://root:<password>@127.0.0.1/barkbase_local'

# Populate with a random 32-character string
SECRET_KEY=''