# Create a '.env' file with the following populated and updated contents:

# Replace these defaults for your local database's URI
# <DB_DRIVER>://<DB_USER>:<DB_PASS>@<DB_HOST>:<DB_PORT>/<DB_NAME>
DB_DRIVER=mariadb+mariadbconnector
DB_USER=root
DB_PASS=password
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=barkbase_local

# Populate with a random 32-character string
JWT_SECRET_KEY=''

# Port number for the API
API_PORT=5000

# URL for the API used by the frontend (ensure the port number matches API_PORT)
NEXT_PUBLIC_API_URL=http://127.0.0.1:5000

# for postman script to run
POSTMAN_API_KEY=your_postman_api_key
COLLECTION_ID=your_collection_id_here
SPEC_URL=http://127.0.0.1:5000/apidocs/spec.json