altgraph @ file:///AppleInternal/Library/BuildRoots/39d9dc1a-2111-11f0-be06-226177e5bb69/Library/Caches/com.apple.xbs/Sources/python3/altgraph-0.17.2-py2.py3-none-any.whl
anyio==4.10.0
attrs==25.4.0
blinker==1.9.0
certifi==2025.8.3
click==8.1.8
dotenv==0.9.9
exceptiongroup==1.3.0
flasgger==0.9.7.1
Flask==3.1.2
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.10
importlib_metadata==8.7.0
itsdangerous==2.2.0
Jinja2==3.1.6
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
MarkupSafe==3.0.3
mistune==3.1.4
packaging==25.0
PyJWT==2.10.1
PyMySQL==1.1.2
python-dotenv==1.1.1
python-telegram-bot==22.3
PyYAML==6.0.3
referencing==0.36.2
rpds-py==0.27.1
sniffio==1.3.1
SQLAlchemy==2.0.44
typing_extensions==4.15.0
Werkzeug==3.1.3
zipp==3.23.0
